.header{
  background-color: bisque;
  padding: 10px;
  flex-direction: column;
}
nav ul {
  list-style-type: none;
  padding: 0;
  display: flex; /* Use flex display */
  font-size: larger;
}

nav li {
  margin-left:25px; /* Add some spacing between the links */
}